.content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
 
}
body{
  margin:0;
  padding: 0;
}
.App_light{
background-color:#f6f3f3;
/* height: 100%; 
width: 100%; */

}
.App_dark{
background-color: black;
/* height:100% ;
width: 100%; */ 
}
