body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* Consider using a web-safe font */

}

.App_light {
  background-color: #f0f4f8;
  box-sizing: border-box;
  overflow-x: hidden;

}

.App_dark {
  background-color: #121212;
  box-sizing: border-box;
  overflow-x: hidden;


}

/* General Styles */
.content {
  margin-top: 20px;
  width: 98%;
  padding: 10px;
  flex-direction: column;
  display: flex;
  
  justify-content: center;
  
 
}

/* Responsive Card Styles */
@media (max-width: 768px) {
  .content {
    padding: 10px;
    flex-wrap: wrap;
  }
}