.header_light,
.header_dark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.header_dark {
    margin: -8px;
    margin-bottom: 20px;
}

.header_dark {
    background-color: #000;
}

.appTitle_light,
.appTitle_dark {
    margin-left: 10px;
    font-size: 30px;
    font-style: italic;
}

.appTitle_dark {
    color: #fff;
    padding-left: 10px;
}

.searchForm_light,
.searchForm_dark {
    display: flex;
    margin-right: 20px;
}

.searchInput_light,
.searchInput_dark {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.searchButton_light,
.searchButton_dark {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.searchButton_light:hover,
.searchButton_dark:hover {
    background-color: #0056b3;
}

.modeIcon {
    padding: 10px 15px;
    border: none;
    width: 100px;

    color: white;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 768px) {

    .appTitle_light,
    .appTitle_dark {
        font-size: 20px;
    }

    .header_dark {
        margin: -8px;
        margin-bottom: 20px;
    }

    .appTitle_dark {
        color: #fff;
    }

    .searchInput_light,
    .searchInput_dark {
        width: 100px
    }
}