.header_light,
.header_dark {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space items evenly */
    padding: 10px; /* Add some padding */
    margin-bottom: 20px;
}

.appTitle_light,
.appTitle_dark {
    margin: 0; /* Remove default margin from header */
    font-size: 24px; /* Adjust font size as needed */
}

.searchForm_light,
.searchForm_dark {
    display: flex; /* Keep form items in a row */
    margin-right: 20px; /* Space between search form and toggle button */
}

.searchInput_light,
.searchInput_dark {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px; /* Adjust width as needed */
}

.searchButton_light,
.searchButton_dark {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.searchButton_light:hover,
.searchButton_dark:hover {
    background-color: #0056b3;
}
.modeIcon{
    padding: 10px 15px;
    border: none;
    width:100px;
    /* border-radius: 200px; */
    /* background-color: #007bff; */
    color: white;
    cursor: pointer;
    margin-left: 10px; /* Add space between the search and mode toggle buttons */
}
@media (max-width: 768px){
    
.appTitle_light,
.appTitle_dark {
    font-size: 20px;
}

.searchInput_light,
.searchInput_dark {
    width:100px
}
}
