/* Navbar.css */

/* Base styles for the navbar */
.navbar_light,
.navbar_dark {
    display: flex;
    align-items: center;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;

    color: #000;

}

.navbar_dark {
    background-color: #fff;

    color: #fff;


}

/* Hamburger menu styles */
.hamburger {
    display: none;
    /* Hidden on larger screens */
    flex-direction: column;
    cursor: pointer;
    margin-right: auto;

    color: #1e90ff;

}

.bar {
    height: 3px;
    width: 25px;
    background-color: #1e90ff;

    /* Color of the hamburger lines */
    margin: 3px 20px;
    /* Space between bars */
}

/* Menu styles for smaller screens */
.menu {
    display: none;

    flex-direction: column;

    position: absolute;

    top: 200px;

    left: 10px;

    background-color: #000;

    color: #000;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Show the menu when active */
.menu.active {
    display: flex;

}

.menu.hidden {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {

    .hamburger {
        display: flex;

        margin-top: -10px;
    }

    .navbar_light {

        background-color: #f0f4f8;

    }

    .navbar_dark {
        background-color: #121212;

    }

    .menu_light,
    .menu_dark {
        display: flex;
        color: #fff
    }

    .menu_light {
        background-color: #f1f1f1;
    }

    .menu_dark {
        background-color: #333;
    }

    .keyTopic_light {
        color: #000;
    }

    .keyTopic_light,
    .keyTopic_dark {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #fff;

    }

    .keyTopic_light:hover {
        background-color: #ddd;

    }

    .keyTopic_dark:hover {
        background-color: #222;

    }
}


@media (min-width: 769px) {
    .menu.hidden {
        display: flex;
    }

    .navbar_light {
        margin: 50px -8px;
    }

    .navbar_dark {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
        margin: 50px -8px;
        color: #333;
        background-color: #333;
    }

    .menu_light,
    .menu_dark {
        display: flex;

        flex-direction: row;

        justify-content: space-around;
        position: static;

        box-shadow: none;

        width: 100%;

        height: auto;

        transition: box-shadow 0.3s ease;

        margin-bottom: 7px;
    }

    .menu_dark {
        color: #333;
        background-color: #333;
    }

    .keyTopic_light,
    .keyTopic_dark {
        margin: 0 10px;
        background-color: #000;
        color: #fff;

        border-bottom: none;

        font-size: 18px;

        transition: font-size 0.5s ease, font-style 0.5s ease;
        cursor: pointer;

    }

    .keyTopic_dark {
        color: #fff;
        background-color: #333;
    }





    .keyTopic_light:hover,
    .keyTopic_dark:hover {
        font-size: 25px;
        font-style: italic;
    }
}